APP_PORT=8000
APP_HOST=0.0.0.0
APP_ENV=dev
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=mydatabase
POSTGRES_PORT=5432
POSTGRES_HOST=db
DATABASE_URL=postgresql+asyncpg://postgres:password@db:5432/mydatabase
REDIS_PORT=6379
REDIS_HOST=redis_cache
REDIS_URL=redis://redis_cache:6379
CORS_ORIGINS=["http://localhost", "http://localhost:8000", "http://127.0.0.1:8000"]
DEBUG=True